@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Chonburi');
*, *:before, *:after {
    box-sizing: border-box;
}
html{
    font-size: 16px;

}
body{
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif!important;
        background-image: url(http://alicex.jp/data/tumamigui/img/tumamigui_upld_2.jpg);
}


/* ===== 見出し+文字 ===== */
h1.top{
font-size: 24px;
}
h2.top{
  font-size: 20px;
  position: relative;
  padding: 2px 4px .5px 30px;
font-family: 'Century Gothic';
    color: #695a5a;
}
h2::before,
h2::after {
  position: absolute;
  content: '';
  border-radius: 100%
}
h2::before {
  top: .2em;
  left: .2em;
  z-index: 2;
  width: 18px;
  height: 18px;
  background: rgba(209, 250, 255, 0.9);
}
h2::after {
  top: .7em;
  left: .7em;
  width: 13px;
  height: 13px;
  background: rgba(255, 220, 252, 0.9);
}
h3.top{
margin: 15px 0 5px 0;
font-size: 14px;
font-family: ''Century Gothic';
}
mark{
  background: linear-gradient(transparent 60%, rgba(247, 221, 255, 0.92) 0%)!important;
padding: 0 3px;
}


/* ===== ヘッダー ===== */
header {
    margin: 0 auto;
    border-bottom: 10px black;
}

.site-logo h1,
.site-logo p {
 color: #695a5a; /* 文字を白色に */
 margin: 0; /* h1とpの余白をリセット */
}

/* あとは文字サイズや太字を指定 */
.site-logo h1 {
    font-size:30px;
    font-family: 'Chonburi', cursive;
}
.site-logo p {
    font-size:12px;
    margin-top: -20px;
}
/*TOPメニュー*/
.row-center{
text-align:center;
letter-spacing:-0.4em;
}
.row-center > [class*='col-']
{
display:inline-block;
letter-spacing:0;
vertical-align:top;
float:none !important;
}
.row-center.va-middle > [class*='col-'] {
vertical-align:middle;
}
.row-center.va-bottom > [class*='col-'] {
vertical-align:bottom;
}
.menu{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4)
}

.menu ul{
display:table;
    table-layout:fixed;
    width:100%;
    text-align:left;
}
.menu li{
display:table-cell;
    vertical-align:middle;
}
.menu li a{
width: 80px;
text-decoration: none;
color: #555;
padding: 0px 10px 0px 10px;
margin: 0px 2px;
text-align: left;
font-size: 14px;
    font-weight: ;
    font-family: 'Century Gothic';
}
.menu li a:hover{
background: rgba(215, 206, 255, 0.5) no-repeat left center;
}


/* ===== box ===== */
.row{
    margin-top:1px;
}
.row > div{
    color:#241d1d;
    padding:10px;
}
.row > div:first-child{
}
.row > div:nth-child(2){
}
.row > div:nth-child(3){
}
.row-center.va-bottom > [class*='col-'] {
vertical-align:bottom;
}

.text-box{
    width: 96%;
    margin: 0 auto;
}

.main{
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
}

.content{
    border-left: solid 1px rgba(105, 90, 90, 0.3);
    padding: 10px 0 10px 10px;
}

/* ===== form ===== */
.form-title{
    margin: 0 auto;
    color: #959595;
}
.form{
    border-color: #d3d3d3;
    border-width: 1px;
    border-radius: 2px;
    background-color: azure;
    
}
input:focus {
    border:solid 1px #EEA34A;
}
.form-btn{
    border-color: #ffcefb;
    border-width: 1px;
    border-radius: 4px;
    background-color: transparent;
}
